## AlphaCare Insurance Solutions (ACIS) - EDA &Hypothesis Testing

#### Libraries

In [1]:
import sys
import os
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
sns.set(style="darkgrid") 
# Get the current working directory
current_dir = os.getcwd()

# Append the parent directory to sys.path
parent_dir = os.path.dirname(current_dir)
sys.path.append(parent_dir)

# ignore warrnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
from scripts.alphacare_insurance_EDA import InsuranceEDA
from scripts.data_quality_checker import DataQualityChecker

#### Read and Understand Data

In [3]:
#Reading the txt file MachineLearningRating_v3.txt
file_path = '../data/MachineLearningRating_v3.txt'
df=pd.read_csv(file_path, delimiter='|')

In [4]:
# inspect data, print top 5 
df.head(5)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [6]:
# Initialize EDA class with the dataset file path
eda = InsuranceEDA(df)
dq_checker=DataQualityChecker(df)

### Data Summarization

##### Descriptive Statistics

In [7]:
df.describe()

,UnderwrittenCoverID,PolicyID,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,kilowatts,NumberOfDoors,CustomValueEstimate,NumberOfVehiclesInFleet,SumInsured,CalculatedPremiumPerTerm,TotalPremium,TotalClaims
count,1.000098e+06,1.000098e+06,1.000098e+06,9.995460e+05,1.000098e+06,999546.000000,999546.000000,999546.000000,999546.000000,2.204560e+05,0.0,1.000098e+06,1.000098e+06,1.000098e+06,1.000098e+06
mean,1.048175e+05,7.956682e+03,3.020601e+03,5.487770e+07,2.010225e+03,4.046642,2466.743258,97.207919,4.019250,2.255311e+05,NaN,6.041727e+05,1.178757e+02,6.190550e+01,6.486119e+01
std,6.329371e+04,5.290039e+03,2.649854e+03,1.360381e+07,3.261391e+00,0.294020,442.800640,19.393256,0.468314,5.645157e+05,NaN,1.508332e+06,3.997017e+02,2.302845e+02,2.384075e+03
min,1.000000e+00,1.400000e+01,1.000000e+00,4.041200e+06,1.987000e+03,0.000000,0.000000,0.000000,0.000000,2.000000e+04,NaN,1.000000e-02,0.000000e+00,-7.825768e+02,-1.200241e+04
25%,5.514300e+04,4.500000e+03,8.270000e+02,6.005692e+07,2.008000e+03,4.000000,2237.000000,75.000000,4.000000,1.350000e+05,NaN,5.000000e+03,3.224800e+00,0.000000e+00,0.000000e+00
50%,9.408300e+04,7.071000e+03,2.000000e+03,6.005842e+07,2.011000e+03,4.000000,2694.000000,111.000000,4.000000,2.200000e+05,NaN,7.500000e+03,8.436900e+00,2.178333e+00,0.000000e+00
75%,1.391900e+05,1.107700e+04,4.180000e+03,6.005842e+07,2.013000e+03,4.000000,2694.000000,111.000000,4.000000,2.800000e+05,NaN,2.500000e+05,9.000000e+01,2.192982e+01,0.000000e+00
max,3.011750e+05,2.324600e+04,9.870000e+03,6.506535e+07,2.015000e+03,10.000000,12880.000000,309.000000,6.000000,2.655000e+07,NaN,1.263620e+07,7.442217e+04,6.528260e+04,3.930921e+05

##### Data Structure

In [8]:
dq_checker.check_data_types(df)

                      Column Actual Data Type Expected Data Type  Match
0        UnderwrittenCoverID            int64              int64   True
1                   PolicyID            int64              int64   True
2           TransactionMonth           object             object   True
3            IsVATRegistered             bool               bool   True
4                Citizenship           object             object   True
5                  LegalType           object             object   True
6                      Title           object             object   True
7                   Language           object             object   True
8                       Bank           object             object   True
9                AccountType           object             object   True
10             MaritalStatus           object             object   True
11                    Gender           object             object   True
12                   Country           object             object   True
13                  Province           object             object   True
14                PostalCode            int64              int64   True
15            MainCrestaZone           object             object   True
16             SubCrestaZone           object             object   True
17                  ItemType           object             object   True
18                    mmcode          float64            float64   True
19               VehicleType           object             object   True
20          RegistrationYear            int64              int64   True
21                      make           object             object   True
22                     Model           object             object   True
23                 Cylinders          float64            float64   True
24             cubiccapacity          float64            float64   True
25                 kilowatts          float64            float64   True
26                  bodytype           object             object   True
27             NumberOfDoors          float64            float64   True
28          VehicleIntroDate           object             object   True
29       CustomValueEstimate          float64            float64   True
30          AlarmImmobiliser           object             object   True
31            TrackingDevice           object             object   True
32        CapitalOutstanding           object             object   True
33                NewVehicle           object             object   True
34                WrittenOff           object             object   True
35                   Rebuilt           object             object   True
36                 Converted           object             object   True
37               CrossBorder           object             object   True
38   NumberOfVehiclesInFleet          float64            float64   True
39                SumInsured          float64            float64   True
40             TermFrequency           object             object   True
41  CalculatedPremiumPerTerm          float64            float64   True
42            ExcessSelected           object             object   True
43             CoverCategory           object             object   True
44                 CoverType           object             object   True
45                CoverGroup           object             object   True
46                   Section           object             object   True
47                   Product           object             object   True
48            StatutoryClass           object             object   True
49         StatutoryRiskType           object             object   True
50              TotalPremium          float64            float64   True
51               TotalClaims          float64            float64   True

In [9]:
# Fix data type format in proper format
df['VehicleIntroDate']=pd.to_datetime(df['VehicleIntroDate'],errors='coerce')
df['TransactionMonth']=pd.to_datetime(df['TransactionMonth'], errors='coerce')
df['RegistrationYear']=(df['RegistrationYear']).astype(int)

In [10]:
# filter numerical and catagorical columns for further processing
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_cols = df.select_dtypes(include=['object', 'bool']).columns.tolist()

### Data Quality Assessment

In [11]:
# Display missing value report
dq_checker.check_missing_values()

                      Column  Missing Count  Missing Percentage
0        UnderwrittenCoverID              0            0.000000
1                   PolicyID              0            0.000000
2           TransactionMonth              0            0.000000
3            IsVATRegistered              0            0.000000
4                Citizenship              0            0.000000
5                  LegalType              0            0.000000
6                      Title              0            0.000000
7                   Language              0            0.000000
8                       Bank         145961           14.594670
9                AccountType          40232            4.022806
10             MaritalStatus           8259            0.825819
11                    Gender           9536            0.953507
12                   Country              0            0.000000
13                  Province              0            0.000000
14                PostalCode              0            0.000000
15            MainCrestaZone              0            0.000000
16             SubCrestaZone              0            0.000000
17                  ItemType              0            0.000000
18                    mmcode            552            0.055195
19               VehicleType            552            0.055195
20          RegistrationYear              0            0.000000
21                      make            552            0.055195
22                     Model            552            0.055195
23                 Cylinders            552            0.055195
24             cubiccapacity            552            0.055195
25                 kilowatts            552            0.055195
26                  bodytype            552            0.055195
27             NumberOfDoors            552            0.055195
28          VehicleIntroDate            552            0.055195
29       CustomValueEstimate         779642           77.956560
30          AlarmImmobiliser              0            0.000000
31            TrackingDevice              0            0.000000
32        CapitalOutstanding              2            0.000200
33                NewVehicle         153295           15.327998
34                WrittenOff         641901           64.183810
35                   Rebuilt         641901           64.183810
36                 Converted         641901           64.183810
37               CrossBorder         999400           99.930207
38   NumberOfVehiclesInFleet        1000098          100.000000
39                SumInsured              0            0.000000
40             TermFrequency              0            0.000000
41  CalculatedPremiumPerTerm              0            0.000000
42            ExcessSelected              0            0.000000
43             CoverCategory              0            0.000000
44                 CoverType              0            0.000000
45                CoverGroup              0            0.000000
46                   Section              0            0.000000
47                   Product              0            0.000000
48            StatutoryClass              0            0.000000
49         StatutoryRiskType              0            0.000000
50              TotalPremium              0            0.000000
51               TotalClaims              0            0.000000

In [12]:
# Check is there is a duplicate values
dq_checker.check_duplicates()

'No duplicate rows found in the DataFrame.'

In [13]:
# cleaning the data based on the datatype
# if catagorical we use mode
for i in categorical_cols:
    if df[i].isnull().any():  # Check if there is any null value in the column
        df[i].fillna(df[i].mode()[0], inplace=True)  # Fill with mode
#if numerical we use mean
for i in numerical_cols:
    if df[i].isnull().any():  # Check if there is any null value in the column
        df[i].fillna(df[i].mean(), inplace=True)  # Fill with mean

In [14]:
dq_checker.check_missing_values()

                      Column  Missing Count  Missing Percentage
0        UnderwrittenCoverID              0            0.000000
1                   PolicyID              0            0.000000
2           TransactionMonth              0            0.000000
3            IsVATRegistered              0            0.000000
4                Citizenship              0            0.000000
5                  LegalType              0            0.000000
6                      Title              0            0.000000
7                   Language              0            0.000000
8                       Bank              0            0.000000
9                AccountType              0            0.000000
10             MaritalStatus              0            0.000000
11                    Gender              0            0.000000
12                   Country              0            0.000000
13                  Province              0            0.000000
14                PostalCode              0            0.000000
15            MainCrestaZone              0            0.000000
16             SubCrestaZone              0            0.000000
17                  ItemType              0            0.000000
18                    mmcode              0            0.000000
19               VehicleType              0            0.000000
20          RegistrationYear              0            0.000000
21                      make              0            0.000000
22                     Model              0            0.000000
23                 Cylinders              0            0.000000
24             cubiccapacity              0            0.000000
25                 kilowatts              0            0.000000
26                  bodytype              0            0.000000
27             NumberOfDoors              0            0.000000
28          VehicleIntroDate            552            0.055195
29       CustomValueEstimate              0            0.000000
30          AlarmImmobiliser              0            0.000000
31            TrackingDevice              0            0.000000
32        CapitalOutstanding              0            0.000000
33                NewVehicle              0            0.000000
34                WrittenOff              0            0.000000
35                   Rebuilt              0            0.000000
36                 Converted              0            0.000000
37               CrossBorder              0            0.000000
38   NumberOfVehiclesInFleet        1000098          100.000000
39                SumInsured              0            0.000000
40             TermFrequency              0            0.000000
41  CalculatedPremiumPerTerm              0            0.000000
42            ExcessSelected              0            0.000000
43             CoverCategory              0            0.000000
44                 CoverType              0            0.000000
45                CoverGroup              0            0.000000
46                   Section              0            0.000000
47                   Product              0            0.000000
48            StatutoryClass              0            0.000000
49         StatutoryRiskType              0            0.000000
50              TotalPremium              0            0.000000
51               TotalClaims              0            0.000000

In [15]:
eda.summarize_data(df)

Data Summary:
        UnderwrittenCoverID      PolicyID               TransactionMonth  \
count         1.000098e+06  1.000098e+06                        1000098
mean          1.048175e+05  7.956682e+03  2015-02-28 10:49:29.147423744
min           1.000000e+00  1.400000e+01            2013-10-01 00:00:00
25%           5.514300e+04  4.500000e+03            2015-01-01 00:00:00
50%           9.408300e+04  7.071000e+03            2015-04-01 00:00:00
75%           1.391900e+05  1.107700e+04            2015-06-01 00:00:00
max           3.011750e+05  2.324600e+04            2015-08-01 00:00:00
std           6.329371e+04  5.290039e+03                            NaN

         PostalCode        mmcode  RegistrationYear     Cylinders  \
count  1.000098e+06  1.000098e+06      1.000098e+06  1.000098e+06
mean   3.020601e+03  5.487770e+07      2.010225e+03  4.046642e+00
min    1.000000e+00  4.041200e+06      1.987000e+03  0.000000e+00
25%    8.270000e+02  6.005692e+07      2.008000e+03  4.000000e+00
50%    2.000000e+03  6.005842e+07      2.011000e+03  4.000000e+00
75%    4.180000e+03  6.005842e+07      2.013000e+03  4.000000e+00
max    9.870000e+03  6.506535e+07      2.015000e+03  1.000000e+01
std    2.649854e+03  1.360005e+07      3.261391e+00  2.939390e-01

       cubiccapacity     kilowatts  NumberOfDoors  \
count   1.000098e+06  1.000098e+06   1.000098e+06
mean    2.466743e+03  9.720792e+01   4.019250e+00
min     0.000000e+00  0.000000e+00   0.000000e+00
25%     2.237000e+03  7.500000e+01   4.000000e+00
50%     2.694000e+03  1.110000e+02   4.000000e+00
75%     2.694000e+03  1.110000e+02   4.000000e+00
max     1.288000e+04  3.090000e+02   6.000000e+00
std     4.426784e+02  1.938790e+01   4.681852e-01

                    VehicleIntroDate  CustomValueEstimate  \
count                         999546         1.000098e+06
mean   2008-04-20 17:04:04.990425600         2.255311e+05
min              1977-10-01 00:00:00         2.000000e+04
25%              2007-11-01 00:00:00         2.255311e+05
50%              2010-10-01 00:00:00         2.255311e+05
75%              2012-04-01 00:00:00         2.255311e+05
max              2014-09-01 00:00:00         2.655000e+07
std                              NaN         2.650422e+05

       NumberOfVehiclesInFleet    SumInsured  CalculatedPremiumPerTerm  \
count                      0.0  1.000098e+06              1.000098e+06
mean                       NaN  6.041727e+05              1.178757e+02
min                        NaN  1.000000e-02              0.000000e+00
25%                        NaN  5.000000e+03              3.224800e+00
50%                        NaN  7.500000e+03              8.436900e+00
75%                        NaN  2.500000e+05              9.000000e+01
max                        NaN  1.263620e+07              7.442217e+04
std                        NaN  1.508332e+06              3.997017e+02

       TotalPremium   TotalClaims
count  1.000098e+06  1.000098e+06
mean   6.190550e+01  6.486119e+01
min   -7.825768e+02 -1.200241e+04
25%    0.000000e+00  0.000000e+00
50%    2.178333e+00  0.000000e+00
75%    2.192982e+01  0.000000e+00
max    6.528260e+04  3.930921e+05
std    2.302845e+02  2.384075e+03

Data Types:
 UnderwrittenCoverID                  int64
PolicyID                             int64
TransactionMonth            datetime64[ns]
IsVATRegistered                       bool
Citizenship                         object
LegalType                           object
Title                               object
Language                            object
Bank                                object
AccountType                         object
MaritalStatus                       object
Gender                              object
Country                             object
Province                            object
PostalCode                           int64
MainCrestaZone                      object
SubCrestaZone                       object
ItemType                            object
mmcode                             float64
VehicleType                         object
RegistrationYear                     int64
make                                object
Model                               object
Cylinders                          float64
cubiccapacity                      float64
kilowatts                          float64
bodytype                            object
NumberOfDoors                      float64
VehicleIntroDate            datetime64[ns]
CustomValueEstimate                float64
AlarmImmobiliser                    object
TrackingDevice                      object
CapitalOutstanding                  object
NewVehicle                          object
WrittenOff                          object
Rebuilt                             object
Converted                           object
CrossBorder                         object
NumberOfVehiclesInFleet            float64
SumInsured                         float64
TermFrequency                       object
CalculatedPremiumPerTerm           float64
ExcessSelected                      object
CoverCategory                       object
CoverType                           object
CoverGroup                          object
Section                             object
Product                             object
StatutoryClass                      object
StatutoryRiskType                   object
TotalPremium                       float64
TotalClaims                        float64
dtype: object

Missing Values:
 UnderwrittenCoverID               0
PolicyID                          0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Bank                              0
AccountType                       0
MaritalStatus                     0
Gender                            0
Country                           0
Province                          0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
mmcode                            0
VehicleType                       0
RegistrationYear                  0
make                              0
Model                             0
Cylinders                         0
cubiccapacity                     0
kilowatts                         0
bodytype                          0
NumberOfDoors                     0
VehicleIntroDate                552
CustomValueEstimate               0
AlarmImmobiliser                  0
TrackingDevice                    0
CapitalOutstanding                0
NewVehicle                        0
WrittenOff                        0
Rebuilt                           0
Converted                         0
CrossBorder                       0
NumberOfVehiclesInFleet     1000098
SumInsured                        0
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
TotalClaims                       0
dtype: int64